rules_version = '2';

service firebase.storage {
	match /b/{bucket}/o {

		match /coverImages/{imageID} {
			allow read, create;
			allow delete: if request.auth.token.email_verified;
		}

		// function isAdmin() {
		// 	return request.auth.token.email_verified &&
		// 	(	
		// 		request.auth.token.email.matches(".*@dlrc.in") ||
		// 		request.auth.token.email in [
		// 			'ansh.tiwatne@gmail.com',
		// 			'dalmiamona@gmail.com'
		// 		]
		// 	)
		// }
	}
}
