rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /coverImages/{imageID} {
      allow read;
      allow create: if hasAdminAccess();
      
    	function hasAdminAccess() {
      	return request.auth.token.email_verified &&
      	request.auth.token.email == "ansh.tiwatne@gmail.com"
      }
    }
  }
}