:root {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #2F2F2F;
}

body::-webkit-scrollbar {
    display: none;
}

.logo {
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 1);
}

.article {
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.textContent {
    justify-content: space-evenly;
    height: 60vh;
    margin: 1rem;
    margin-top: -7.5vh;
    display: flex;
    flex-direction: column;
}

.coverImage {
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.headline {
    font-size: min(1.25rem, 5vmin);
    font-weight: 600;
    color: #2F2F2F;
}

.story {
    font-size: min(1.10rem, 4.5vmin);
    color: #404040;
}

.tags {
    font-size: min(1.15rem, 4.75vmin);
    font-weight: 500;
    color: #505050;
    padding-top: 1rem;
}

#endScreen {
    scroll-snap-align: start;
    display: flex;
    height: 100vh;
    background-color: #2F2F2F;
    color: #f0f0f0;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 500px) {
    .textContent {
        justify-content: normal;
        margin: 0 auto;
        padding: 1rem;
        max-width: 75vw;
    }

    .headline {
        font-size: 1.30rem;
    }

    .story {
        font-size: 1.15rem;
        padding: 2rem 0;
    }

    .tags {
        font-size: 1.20rem;
        padding-top: 1rem;
    }
}