:root {
    scroll-snap-type: y mandatory;
    --bg-color: #2F2F2F;
    --headline-text-color: #333333;
    --story-text-color: #3C3C3C;
    --tags-text-color: #4F4F4F;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--bg-color);
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header:hover {
    cursor: pointer;
}

.logoImage {
    border-radius: 0.45rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logoText {
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Roboto Slab', serif;
    text-shadow: 0.1rem 0.1rem 1rem black;
    animation: disappearToLeft 2s 5s forwards;
    vertical-align: 50%;
}

.infoButton {
    font-variation-settings: 'FILL' 0;
    color: whitesmoke;
    text-shadow: 0.1rem 0.1rem 1rem black;
}

a {
    text-decoration: none;
}

.article {
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.textContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    margin: 1rem;
    margin-top: -5vh;
}

.coverImage {
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.headline {
    font-size: min(1.25rem, 5vmin);
    font-weight: 600;
    color: var(--headline-text-color);
}

.story {
    font-size: min(1.10rem, 4.5vmin);
    color: var(--story-text-color);
}

.tag {
    font-size: min(0.9rem, 3.5vmin);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.7);
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.3rem;
    padding-bottom: min(0.9rem, 3.5vmin);
}

.credits {
    font-size: min(0.9rem, 3.5vmin);
    color: var(--headline-text-color);
}

.author {
    font-size: min(1rem, 4vmin);
    font-weight: 600;
    color: var(--tags-text-color);
}

.likeIcon {
    vertical-align: text-bottom;
    color: var(--tags-text-color);
    font-size: min(1.5rem, 6vmin);
}

.likeCounter {
    color: var(--tags-text-color);
    font-size: min(1.25rem, 5vmin);
    font-weight: 400;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.75rem;
}

.likeGroup:hover {
    cursor: pointer;
}

#endScreen {
    scroll-snap-align: start;
    display: flex;
    height: 100vh;
    background-color: var(--bg-color);
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid white;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes disappearToLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-7.5%);
      opacity: 0;
    }
}

@media (min-width: 500px) {
    .textContent {
        justify-content: normal;
        margin: 0 auto;
        padding: 1rem;
        max-width: 75vw;
    }

    .headline {
        font-size: 1.30rem;
    }

    .story {
        font-size: 1.15rem;
        padding: 2rem 0;
    }

    .tags {
        font-size: 1.20rem;
        padding-top: 1rem;
    }

    .tag {
        padding-bottom: 2.5vh;
    }
}