:root {
    scroll-snap-type: y mandatory;
    -webkit-tap-highlight-color: transparent;

    --bg-color: #2F2F2F;
    --primary-text-color: #333333;
    --secondary-text-color: #3C3C3C;
    --muted-text-color: #4F4F4F;
    --translucent-text-color: rgba(0, 0, 0, 0.75); 
    --text-shadow: 0.1rem 0.1rem 1rem black;
    --image-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--bg-color);
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

.logoImage {
    border-radius: 0.45rem;
    box-shadow: var(--image-shadow)
}

.logoText {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    text-shadow: var(--text-shadow);
    animation: disappearToLeft 1s 5s forwards;
    transition-timing-function: ease-in;
    vertical-align: 50%;
    padding-left: 0.5rem;

    /* temporary fix for animation */
    position: absolute;
    white-space: nowrap;
    padding: 0.5rem 0 0 0.75rem;
}

.logoGroup {
    position: fixed;
    padding: 1rem;
    top: 0;
    left: 0;
}

.infoButton {
    position: fixed;
    padding: 1rem;
    padding-top: 1.325rem;
    top: 0;
    right: 0;
    font-variation-settings: 'FILL' 0;
    color: whitesmoke;
    text-shadow: var(--text-shadow);
}

.article {
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.textContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    margin: -5vh 1rem 0;
}

.coverImage {
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.headline {
    font-size: min(1.25rem, 5vmin);
    font-weight: 600;
    color: var(--primary-text-color);
}

.timestamp {
    font-size: min(0.9rem, 3.5vmin);
    font-weight: 500;
    color: #5A5A5A;
    color: rgba(0, 0, 0, 0.65);
    font-variation-settings: 'FILL' 1;
}

.story {
    font-size: min(1.10rem, 4.5vmin);
    color: var(--secondary-text-color);
}

.tag {
    font-size: min(0.9rem, 3.5vmin);
    font-weight: 600;
    color: var(--translucent-text-color);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.7);
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.3rem;
}

.credits {
    font-size: min(0.9rem, 3.5vmin);
    color: var(--primary-text-color);
}

.author {
    font-size: min(1rem, 4vmin);
    font-weight: 600;
    color: var(--muted-text-color);
}

.likeButton, .shareButton {
    color: var(--muted-text-color);
    vertical-align: text-bottom;
    font-size: min(1.5rem, 6vmin) !important;
}

.likeCounter {
    color: var(--muted-text-color);
    font-size: min(1.125rem, 4.5vmin);
    font-weight: normal;
    vertical-align: min(0.05rem, 0.2vmin);
}

.material-symbols-rounded {
    user-select: none;
}

.material-symbols-rounded:hover {
    cursor: pointer;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
    vertical-align: middle;
}

.header {
    padding-bottom: min(0.9rem, 3.5vmin);
}

#endScreen {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: var(--bg-color);
    font-weight: 600;
    height: 100vh;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid white;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

/* about and offline page */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: min(1.10rem, 4.5vmin);;
    color: whitesmoke;
    padding: 0 1rem;
}

.about a {
    color: whitesmoke;
    text-decoration: underline;
}

.fallbackButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;

    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    border-radius: 0.5rem;
    box-shadow: var(--image-shadow);
    cursor: pointer;
}

.buttonText {
    font-size: 1rem;
    padding: 0.5rem;
}

.appStorePromo {
    width: 10rem;
    height: auto;
    cursor: pointer;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes disappearToLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-7.5%);
      opacity: 0;
    }
}

@media (min-width: 500px) {
    .textContent {
        justify-content: normal;
        margin: 0 auto;
        padding: 1rem;
        max-width: 75vw;
    }

    .headline {
        font-size: 1.30rem;
    }

    .story {
        font-size: 1.15rem;
        padding: 2rem 0;
    }

    .header {
        padding-bottom: 2.5vh;
    }

    .timestamp {
        font-size: 1rem;
        font-weight: normal;
        color: var(--secondary-text-color);
    }

    .footer {
        padding-top: 2.5vh;
    }
}
