@tailwind base;
@tailwind components;
@tailwind utilities;

.text-animate-disappear {
	animation: disappear-to-left 1s 5s forwards;
	transition-timing-function: ease-in;
	vertical-align: 50%;
}

@keyframes disappear-to-left {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		transform: translateX(-7.5%);
		opacity: 0;
	}
}

.animate-send {
	animation: fadeOutIn 1s forwards;
}

@keyframes fadeOutIn {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	50% {
		opacity: 0;
		transform: translateX(20px);
	}
	50.1% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
